/* You can add global styles to this file, and also import other style files */

html{
    padding: 0;
    height: 100%;
}


input.ng-invalid.ng-touched{
    border: 1px solid red;
}
html, body { height: 100%; }
body { 
        margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        margin-top: 100px;
        height: 100%; 
    }

.success-snackbar{
    background-color: #42a5f5;
    color: white;
}


.failure-snackbar{
    background-color: #e91e63;
    color: white;
}


